<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="default_inertial">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="0.001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.001"
        iyz="0.0"
        izz="0.001" />
    </inertial>
  </xacro:macro>

  <material name="StoglRobotics/Violet">
    <color rgba="${102/255} ${46/255} ${145/255} 1.0"/>
    <ambient>1 0 0 1</ambient>
    <diffuse>1 0 0 1</diffuse>
    <specular>0.1 0.1 0.1 1</specular>
    <emissive>0 0 0 0</emissive>
  </material>

  <material name="StoglRobotics/DarkGrey">
    <color rgba="${51/255} ${51/255} ${51/255} 1.0"/>
    <ambient>1 0 0 1</ambient>
    <diffuse>1 0 0 1</diffuse>
    <specular>0.1 0.1 0.1 1</specular>
    <emissive>0 0 0 0</emissive>
  </material>

  <material name="StoglRobotics/LightGrey">
    <color rgba="${194/255} ${194/255} ${194/255} 1.0"/>
    <ambient>1 0 0 1</ambient>
    <diffuse>1 0 0 1</diffuse>
    <specular>0.1 0.1 0.1 1</specular>
    <emissive>0 0 0 0</emissive>
  </material>

</robot>
