<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="rrbot">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find controlko_description)/urdf/rrbot/rrbot_macro.xacro"/>
  <xacro:include filename="$(find controlko_description)/urdf/rrbot/rrbot_macro.ros2_control.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <xacro:rrbot prefix="$(arg prefix)" parent="world" >
    <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
  </xacro:rrbot>

  <xacro:rrbot_ros2_control
    name="rrbot"
    prefix="$(arg prefix)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)" />

</robot>
